@font-face {
	font-family: 'Sullivan-Fill';
	src: url('fonts/Sullivan-Fill.eot');
	src: local('☺'), url('fonts/Sullivan-Fill.woff') format('woff'), url('fonts/Sullivan-Fill.ttf') format('truetype'), url('fonts/Sullivan-Fill.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.navbar {
    padding-right: 10%;
    padding-left: 10%;
    width: 100%;
}

nav a.logo {
    font-family: 'Sullivan-Fill', sans-serif;
    font-size: 2.5em;
    margin: 0;
    text-shadow: -1px 3px #999999;

    width: 190px;
    height: 57px;
    padding-left: .5em;
    padding-top: 2px;
    background: url(/img/headerbg.png) 0 0 no-repeat rgb(248, 248, 248);
}

nav a.logo, nav a.logo:visited, nav a.logo:active, nav a.logo:hover {
    color: white;
    text-decoration: none;
}

#home .navbar a.logo {
    display: none;
}

ul.nav li:hover {
    background-color: #f0f0f0;
}

ul.nav li a {
    padding: 18px 15px;
}

.banner {
    background-color: transparent;
    margin-top: 55px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 3em;
    padding: 6em 0;
    position: relative;
    color: white;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.banner canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner h1 {
    font-family: 'Sullivan-Fill', sans-serif;
    font-size: 7em;
    text-shadow: -1px 3px #999999;
    margin: 0;
    padding: 0;
}

.content {
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    padding-top: 4em;
}

h1.title {
    margin-top: 0;
    margin-bottom: 1em;
}

.tagline {
    padding-top: .5em;
    font-size: 1.5em;
    width: 50%;
    margin: 0 auto;
}

.tagline2 {
    font-size: 1.25em;
}

.page {
    width: 80%;
    margin: 0 auto;
}

section {
    overflow: hidden;
    margin-bottom: 7em;
}

section.opening {
    margin-bottom: 2em;
}

section.opening ul {
    margin-top: 1em;
}

section.opening ul li {
    margin: .5em 0;
}

section.getting-started {
    text-align: center;
}

pre span {
    color: rgb(130, 50, 30);
}

section.whos-using h4 {
    font-size: 1.5em;
    margin-bottom: 2em;
}

section.whos-using img {
    border: 2px solid #aaaaaa;
    display: block;
    margin: 0 auto;

    width: 419px;
}

section.whos-using .user {
    overflow: hidden;
    padding-top: 2em;
    margin-bottom: 2em;
}

.download-screen {
    background-color: #333333;
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: left;

    z-index: -10;
    opacity: 0;
}

.download-screen h1 {
    margin-top: .5em;
    text-align: center;
    margin-bottom: .25em;
    font-size: 5em;
}

.download-screen a.close {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    text-shadow: none;
    float: none;
    z-index: 10;
    margin: .75em 1em;
}

.download-screen .col-sm-6 {
    padding-left: 10%;
    background-color: #333333;
    border-left: 3px solid #3f3f3f;
}

.download-screen .col-sm-6:nth-of-type(2) {
    padding-right: 10%;
    padding-left: 2em;
}

.download-screen pre {
    background-color: #292929;
    border: none;
    color: #f0f0f0;
    width: 50%;
}
