<!DOCTYPE html>
<html>
  <head>
    <title>Nunjucks</title>

    <link rel="stylesheet" type="text/css"
          href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />
  </head>

  <body id="{{ page.pageid }}">
    <nav class="navbar navbar-default navbar-fixed-top">
      <a class="pull-left logo" href="/">Nunjucks</a>

      <ul class="nav navbar-nav navbar-right pull-right">
        <li><a href="#" class="download">Download</a></li>
        <li><a href="https://github.com/jlongster/nunjucks">Github</a></li>
        <li><a href="#">Docs</a></li>
      </ul>
    </nav>
{{ content }}

    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
